<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Notflix</title>
    </head>
    <body>
        <noscript>Please enable Javascript on your browser or use a different one.</noscript>
        <div id="app"></div>
    </body>
</html>
